/* Mobile & Tablet */
@media  (max-width: 1023px ) {
    .hide-on-mb-tb{
        display: none;
    }
    .header{

        position: fixed;
        z-index: 10;
        right: 0;
        left: 0;
        top : 0;
    }
    .container{
        margin-top: 108px;
        padding-top: 20px;
    }
    .header__sort-bar{
        display: flex;
    }
    .nav-mobile-category{
        display: block;
    }
    .footer-detail{
        text-align: center
    }
}

/* Tablet */
@media (min-width: 740px) and  (max-width: 1023px ) {
    .hide-on-tb{
        display: none;
    }
    /* Header */
    .nav-footer-carticon{
        margin-left: 50px;
    }
    .mobile-menu-btn{
        display: inline-flex;
        margin-right: 50px;
        margin-bottom: 5px;
    }
}


/* Mobile */
@media (max-width: 739px){
    .hide-on-mb{
        display: none;
    }
    .container{
        padding-left: 6px;
        padding-right: 6px;
    }
    .nav-footer-search{
        margin-left: 5px;
    }

    /* Header */
    .cart-container {
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
    }
    .has-cart-btn{
        float: left;
    }
    .has-cart-list{
        overflow: scroll;
        overflow-x: hidden;
    }
    .has-cart-item-name{
        flex-grow: 0;
    }
    .has-cart-notify{
        bottom: 31px;
    }
    .nav-footer-carticon {
        margin: 10px 8px ;
        padding: 18px 16px;
    }
    /* Mobile nav navigation */
    .mobile-menu-btn{
        display: inline-flex;
    }
    /* Category */
    .grid-column-2{
        display: none;
    }
    /* Footer pagination */
    .pagination-item {
        margin: 0 2px;
    }
    .pagination-item__link {
        min-width: 28px;
    }
    /* Footer */
    .footer-detail{
        margin: 20px;
    }
    .footer-heading{
        text-align: center;
    }
    .footer-item__link{
        justify-content: center;
    }
    .footer-dowload__qr{
        display: none;
    }
}